<div class="main_screen">
    <div id="description">
        <h1>Repeat the story</h1>
        <p>In the primeval era, colossal dinosaurs were ruling the world, it was the apogee of gigantism.
            Then, celestial firestorms erupted, rewriting destiny in a cataclysmic ballet.
            Amidst the echoes of extinction, humanity emerged, a phoenix in the ashes, destined to inherit a world reborn from cosmic chaos.
            Now, as we journey back to the past, the baton transitions into your hands, allowing you to become the orchestrator of the next chapter.
            It's your turn to repeat the story and ensure human domination</p>
        <a href="play"><button class="play_button"><i class="fa-solid fa-meteor"></i> Play now</button></a>
    </div>
</div>